{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="topsection section">
    <div class="covertop">
        <img src="{% static 'home/welcome.jpg' %}" alt="welcome image">
    </div>
    <div class="mydp">
        <img src="{% static 'home/mydp.jpg' %}" alt="My Picture">
    </div>
    <div class="welcomenote">
        Welcome To My Curriculum Vitae
    </div>
</section>
<section class="aboutmesection section">
    <div class="container-fluid">
        <div class="row row-cols-3">
            <div class="col w-100 spanstyle">
                <span style='border-bottom:1px solid white;padding:5px'>Personal Information</span>
                <ul>
                    <li>Name: Arnab Gupta</li>
                    <li>Age: 26Y</li>
                    <li>Address: 1F Parul Apartment, Shalbagan, Barrackpore Road, Barasat, Kolkata-700125</li>
                    <li>E-mail: <a href="mailto:arnab95gupta@gmail.com">arnab95gupta@gmail.com</a></li>
                    <li>Phone: <a href="tel:+919506714747">9506714747</a> / <a href="tel:+919408736464">9408736464</a></li>
                    <li>LinkedIn: <a href="https://www.linkedin.com/in/arnab-gupta-859245236/" target="_blank">Click To Go</a></li>
                </ul>
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row row-cols-3">
            <div class="col"></div>
            <div class="col spanstyle w-100" style="text-align:center">
                <span style='border-bottom:1px solid white;padding:5px' class='eq'>Educational Qualifications</span>
            </div>
            <div class="col"></div>
        </div>
        <div class="row row-cols-1">
            <div class="col w-100 d-flex align-items-center justify-content-center mytable">
                <table class="table table-sm table-dark table-hover table-bordered" style="text-align:center;margin-top:20px;width:70%;vertical-align:middle;">
                    <thead>
                        <th>Exam</th>
                        <th>Board</th>
                        <th>Institution</th>
                        <th>Percentage</th>
                        <th>Year</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Madhyamik</td>
                            <td>WBBSE</td>
                            <td>Nabapalli Boy's High School</td>
                            <td>69.57%</td>
                            <td>2012</td>
                        </tr>
                        <tr>
                            <td>Secondary Education</td>
                            <td>WBCHSE</td>
                            <td>Nabapalli Boy's High School</td>
                            <td>50%</td>
                            <td>2014</td>
                        </tr>
                        <tr>
                            <td>Graduation</td>
                            <td>University of Calcutta</td>
                            <td>Asutosh College</td>
                            <td>--%</td>
                            <td>2020</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="skillsection section">
    <div class="container">
        <div class="row row-cols-1">
            <div class="col align-self-center" style="text-align:center">
                <span style='border-bottom:1px solid black;font-size:35px;color:black;padding:5px'>Skills</span>
            </div>
        </div>
        <div class="row row-cols-2  justify-content-center" style="margin-top:30px">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'home/html.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Web Development</h5>
                      <p class="card-text" style="text-transform:capitalize">i know frontend development in html css javascript jquery and bootstrap</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row row-cols-2 justify-content-center">
            <div class="col"></div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'home/py.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Python Programming</h5>
                      <p class="card-text" style="text-transform:capitalize">i know basic to advanced python from scripting to backend development with django and scocket programming</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row row-cols-2 justify-content-center">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'home/data.jpeg' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Data Analysis</h5>
                      <p class="card-text" style="text-transform:capitalize">currently i am learning data analysis with python pandas numpy and other modules to help different websites collect customer data</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row row-cols-2 justify-content-center">
            <div class="col"></div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'home/sol.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Solidity</h5>
                      <p class="card-text" style="text-transform:capitalize">i am learning solidity as well for blockchain based web applications with react and node. solidity is used for contract development</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row row-cols-2 justify-content-center">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'home/node.png' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Nodejs</h5>
                      <p class="card-text" style="text-transform:capitalize">comfortable working with node and react applications</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row row-cols-2 justify-content-center">
            <div class="col"></div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'home/git.png' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">GitHub</h5>
                      <p class="card-text" style="text-transform:capitalize">i can do version control with git and manage different branches to control workflow</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
<section class="skillsection-sm section">
    <div class="container">
        <div class="row row-cols-1">
            <div class="col align-self-center" style="text-align:center">
                <span style='border-bottom:1px solid black;font-size:35px;color:black;padding:5px'>Skills</span>
            </div>
        </div>
        <div class="row row-cols-2 " style="margin-top:30px">
            <div class="col w-100 d-flex align-align-items-center justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'home/html.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Web Development</h5>
                      <p class="card-text" style="text-transform:capitalize">i know frontend development in html css javascript jquery and bootstrap</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row row-cols-2">
            <div class="col w-100 d-flex align-align-items-center justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'home/py.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Python Programming</h5>
                      <p class="card-text" style="text-transform:capitalize">i know basic to advanced python from scripting to backend development with django and scocket programming</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row row-cols-2">
            <div class="col w-100 d-flex align-align-items-center justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'home/data.jpeg' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Data Analysis</h5>
                      <p class="card-text" style="text-transform:capitalize">currently i am learning data analysis with python pandas numpy and other modules to help different websites collect customer data</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row row-cols-2">
            <div class="col w-100 d-flex align-align-items-center justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'home/sol.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Solidity</h5>
                      <p class="card-text" style="text-transform:capitalize">i am learning solidity as well for blockchain based web applications with react and node. solidity is used for contract development</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row row-cols-2">
            <div class="col w-100 d-flex align-align-items-center justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'home/node.png' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Nodejs</h5>
                      <p class="card-text" style="text-transform:capitalize">comfortable working with node and react applications</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row row-cols-2">
            <div class="col w-100 d-flex align-align-items-center justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'home/git.png' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">GitHub</h5>
                      <p class="card-text" style="text-transform:capitalize">i can do version control with git and manage different branches to control workflow</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
<section class="projectsection section">
    <div class="container-fluid">
        <div class="row">
            <div class="col" style="text-align:center">
                <span style='border-bottom:1px solid white;font-size:35px;padding:5px'>Projects</span>
            </div>
        </div>
        <div class="row  mt-4">
            <div class="col d-flex align-items-center justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Jarvis</h5>
                      <p class="card-text" style="text-transform:capitalize">fun jarvis project. works with voice commands. but can not actually analyze data.</p>
                      <a href="https://github.com/r3Vibe/jarvis.git" target="_blank" class="btn btn-new">Github Link</a>
                    </div>
                </div>
            </div>
            <div class="col d-flex align-items-center justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">The Hidden One</h5>
                      <p class="card-text" style="text-transform:capitalize">it's a project based on cryptography and stagnography. it can encrypt and decrypt text and files and hide items in an image.</p>
                      <a href="https://github.com/r3Vibe/the_hidden_one.git" target="_blank" class="btn btn-new">Github Link</a>
                    </div>
                </div>
            </div>
            <div class="col d-flex align-items- justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Farmer's World Auto</h5>
                      <p class="card-text" style="text-transform:capitalize">this is a web automation project that lets me play farmersworld without interacting with the game. this script imitates mouse clicks.</p>
                      <a href="https://github.com/r3Vibe/farmersworldauto.git" target="_blank" class="btn btn-new">Github Link</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex align-items- justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">This Site</h5>
                      <p class="card-text" style="text-transform:capitalize">Code of this site is also available on github.</p>
                      <a href="https://github.com/r3Vibe/arnabgcv" target="_blank" class="btn btn-new">Github Link</a>
                    </div>
                </div>
            </div>
            <div class="col d-flex align-items- justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">E-comm Website</h5>
                      <p class="card-text" style="text-transform:capitalize">E-commerse Website i build. can be used for placesing orders with a payment gateway. code is available on github.</p>
                      <a href="#" target="_blank" class="btn btn-new">Github Link</a>
                      <a href="#" target="_blank" class="btn btn-new">Browse Site</a>
                    </div>
                </div>
            </div>
            <div class="col d-flex align-items- justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Blockchain Webapp</h5>
                      <p class="card-text" style="text-transform:capitalize">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae numquam ratione quibusdam itaque, praesentium apdsdfsf</p>
                      <a href="#" target="_blank" class="btn btn-new">Github Link</a>
                      <a href="#" target="_blank" class="btn btn-new">Browse Site</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footnote section">
    <h1>Thank You For Visiting</h1>
</section>
{% endblock content %}





