body{
    overflow-x: hidden;
    color: white;
    font-family: 'Inconsolata', monospace;
}
a{
    text-decoration: none;
    color: tomato;
}
a:hover{
    color: blueviolet;
}
.section{
    width: 100vw;
    height: auto;
    min-height: 100vh;
}

.topsection .covertop{
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
}
.topsection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.topsection .covertop img{
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.topsection .mydp{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid white;
    z-index: 5;
    box-shadow: 0 15px 15px -15px white;
}

.topsection .mydp img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
}

.topsection .welcomenote{
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 4px 4px black;
    text-align: center;
    z-index: 2;
}


.aboutmesection{
    background-color: rgb(0, 0, 0);
    padding: 20px;
}

.aboutmesection ul{
    padding: 5px;
    list-style: none;
    font-size: 20px;
}

.aboutmesection .spanstyle span{
    font-size: 35px;
}

.skillsection{
    color: black !important;
}

.skillsection-sm{
    color: black !important;
}

.container .row{
    margin: 10px;
}

.card{
    border: 1px solid black;
    box-shadow: 0 10px 10px -10px black;
}

.projectsection{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
}

.btn-new{
    color: black;
    background-color: #fff;
    border: 1px solid black;
}

.projectsection .card{
    color: black;
    height: 15rem;
}

.projectsection .row .col{
    margin: 5px;
}

.footnote{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 42, 42);
    color: #fff;
    text-shadow: 1px 1px black;
}

.spanstyle{
    margin-top: 50px;
}

.skillsection-sm{
    display: none;
}

@media (max-width: 576px) { 
    .aboutmesection .spanstyle span{
        font-size: 25px;
    }
    .aboutmesection .spanstyle .eq{
        font-size: 23px;
    }
    .aboutmesection{
        padding: 10px;
    }
    .mytable table{
        font-size: 13px; 
    }
    .skillsection{
        display: none;
    }
    .skillsection-sm{
        display: flex;
        align-items: center;
        justify-content: center;
    }
 }


@media (min-width: 768px) {  }


@media (min-width: 992px) {  }


@media (min-width: 1200px) {  }


@media (min-width: 1400px) {  }